.git
.vs
.vscode
**/bin
**/obj
**/node_modules
**/dist
**/.angular
**/*.db
**/*.db-shm
**/*.db-wal
**/*.db-journal
.env
.env.*
!.env.example
specification.md
TODO.md
data
tls
**/*.pfx
**/*.pem
**/*.key
